.inputBlock{
  position: absolute;
  bottom: 0;
  height: 34px;
  width: 100%;
  background-color: lightblue;
  padding: 5px;
}

.chatContentBox{
  position: absolute;
  bottom: 50px;
  width: 100%;
  padding: 20px 10px 0px;
  box-sizing: border-box;
}

.chatSubmitBox{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: lightblue;
  padding: 5px 5px;
  box-sizing: border-box;
}

.chatSubmitBox input[type="text"]{
  height: 30px;
}

.chatSubmitBox input[type="text"]:first-child{
  width: 50px;
}

.chatSubmitBox input[type="text"]:nth-child(2){
  width: calc( 100% - 200px );
}

.chatSubmitBox input[type="submit"]{
  width: 100px;
  margin-left: 10px;
  height: 30px;
}

.chatTime{
  color: darkgrey;
  font-size: 9pt;
  margin-left: 5px;
}

.contentRight{
  text-align: right;
}

.contentLeft{
  text-align: left;
}