.inputBlock{
  position: absolute;
  bottom: 0;
  height: 34px;
  width: 100%;
  background-color: lightblue;
  padding: 5px;
}

<<<<<<< HEAD
.chatContentBox{
  position: absolute;
  bottom: 50px;
  width: 100%;
}

.chatSubmitBox{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: lightblue;
  padding: 5px 0;
}


.chatSubmitBox input[type="text"]{
  height: 30px;
}

.chatSubmitBox input[type="text"]:first-child{
  width: 50px;
}

.chatSubmitBox input[type="text"]:nth-child(2){
  width: calc( 100% - 200px );
}


.chatSubmitBox input[type="submit"]{
  width: 100px;
  margin-left: 10px;
  height: 30px;
}