.inputBlock{
  position: absolute;
  bottom: 0;
  height: 34px;
  width: 100%;
  background-color: lightblue;
  padding: 5px;
}

.inputBlock input[type=text]{
  width: calc( 100% - 100px );
  height: 28px;
}

.inputBlock input[type=submit]{
  width: 70px;
  margin-left:5px;
  height: 34px;
}

.contentBlock{
  position: absolute;
  bottom: 70px;
}